# Django
DJANGO_SECRET_KEY="insert-long-random-string"
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Google Sheets
GOOGLE_APPLICATION_CREDENTIALS="path/to/google-application-credentials.json"
TEST_SPREADSHEET_ID="spreadsheetid"